@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #133827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #fbfaef;
  font-family: "Inter", san-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
Link,
a,
li {
  font-family: "Zen Antique Soft", serif;
}

.testiHeading {
  /* font-family: "Chicle", serif; */
  font-family: "Emilys Candy", serif;
}

.heading {
  font-family: "Lora", serif;
  /* font-family: "Margarine", sans-serif; */
  /* font-family: "Chicle", serif; */
  /* font-family: "Licorice", cursive; */
  /* font-family: "Emilys Candy", serif; */
  /* font-family: "Zen Antique Soft", serif; */
}

.chicle {
  font-family: "Chicle", serif;
}

.hero {
  /* background-image: url("/jewelry-champagne.jpeg"); */
  background-image: url("https://res.cloudinary.com/deywxghov/image/upload/e_improve,e_sharpen/v1759576525/Sun_Seeker_Collection_umko6r.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

.testi {
  box-shadow: 0px 0.6021873017743928px 0.6021873017743928px -1.25px rgba(126, 73, 19, 0.18),
    0px 2.288533303243457px 2.288533303243457px -2.5px rgba(126, 73, 19, 0.16),
    0px 10px 10px -3.75px rgba(126, 73, 19, 0.06);
}

/* Hide scrollbars — all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 15s linear infinite;
}
